<%= link_to(content) do %>
  <div class="card">
    <% if content.image.thumb.url %>
      <%= image_tag content.image.thumb.url, class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= content.title %></h5>
      <p class="card-text"><%= content.text.slice(0, 20) %>...</p>
    </div>
  <div class="card-footer"><%= content.created_at.to_s(:ago) %></div>
  </div>
<% end %>