<footer class="footer">
  <small>
    The <%= link_to "Media App", "https://github.com/MasatoTokuse" %>
    by <%= link_to "Masato Tokuse", "https://github.com/MasatoTokuse" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "https://github.com/MasatoTokuse" %></li>
      <li><%= link_to "Contact", "https://github.com/MasatoTokuse" %></li>
      <li><%= link_to "News",    "https://github.com/MasatoTokuse" %></li>
    </ul>
  </nav>
</footer>